{% extends 'layout.html' %}
{% load bootstrap %}}
{% block title %}
<title>Change Password</title>
{% endblock %}
{% block main_content %}
 <h1 class="text-center head-text text-danger mt-5 mb-5" data-aos="fade-down" data-aos-delay="50"
    data-aos-duration="500">Change Password</h1>
<div class="container mb-5 mt-5">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            {% include 'messages.html' %}
            <div class="card form-box-shadow password-change-card py-4 px-4" data-aos="fade-up"
    data-aos-duration="500" data-aos-delay="150">
                <form class="form myForm" action="" method="POST">
                    {% csrf_token %}
                    {{ password_change_form | bootstrap_horizontal }}
                    <button type="submit" class="btn btn-primary mt-3 ">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
    var form_fields = document.getElementsByTagName('input')
    form_fields[1].placeholder="Enter old password"
    form_fields[2].placeholder="Enter password"
    form_fields[3].placeholder="Confirm password"

    for (field in form_fields){
    form_fields[field].className +=' my-3'
    }

</script>
{% endblock %}