{% extends 'layout-admin.html' %} {% load bootstrap %}} {% block title %}
<title>Change Password</title>
{% endblock %} {% block main_content %}

<style>
  ul {
    display: none;
  }
</style>

<h1 class="text-center heading-text">Change Password</h1>
<div class="container mb-5 mt-5">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      {% include 'messages.html' %}
      <div class="card form-box-shadow password-change-card py-4 px-4">
        <form class="form myForm" action="" method="POST">
          {% csrf_token %} {{ password_change_form | bootstrap_horizontal }}
          <button type="submit" class="btn btn-primary mt-3">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>
<script>
  var form_fields = document.getElementsByTagName("input");
  form_fields[1].placeholder = "Enter old password";
  form_fields[2].placeholder = "Enter password";
  form_fields[3].placeholder = "Confirm password";

  for (field in form_fields) {
    form_fields[field].className += " my-3";
  }
</script>
{% endblock %}
