{% extends 'layout.html' %} {% load bootstrap %}} {% block title %}
<title>Registration</title>
{% endblock %} {% block main_content %}

<style>
  p.help-block {
    display: none;
  }
  ul {
    display: none;
  }
</style>

<div class="registration">
  <div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <h1 class="text-center register-login-head-text">REGISTRATION</h1>
        {% include 'messages.html' %}
        <div class="card register-login-card py-4 px-4">
          <form class="form myForm" action="" method="POST">
            {% csrf_token %} {{ form_register | bootstrap_horizontal }}
            <button type="submit" class="btn btn-primary mt-3" style="width: 100%">REGISTER</button>
            <div class="justify-content-center text-center mt-4">
              <a class="btn btn-outline-warning" href="/login">Back to Login</a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  var form_fields = document.getElementsByTagName("input");
  form_fields[1].placeholder = "Enter username";
  form_fields[2].placeholder = "Enter email address";
  form_fields[3].placeholder = "Enter password";
  form_fields[4].placeholder = "Confirm password";

  for (field in form_fields) {
    form_fields[field].className += " my-3";
  }
</script>
{% endblock %}
