 {%  load static %}
    <!-- Footer section Begin -->
    <footer class="footer " id="footer">
        <div class="container-fluid">
            <div class="row">

                <div class="col-lg-3 col-md-2 col-sm-6 offset-lg-1">
                    <div class="footer-widget">
                        <img src="{% static 'images/logo.png' %}" height="40" width="200" alt="">
                        <!-- <h3>gharsewA</h3> -->
                    </div>
                </div>

                <div class="col-lg-3 col-md- col-sm-6 offset-lg-1">
                    <div class="footer-widget">
                        <h6>Stay in touch</h6>
                        <ul>
                            <li><a href="#" class="fa fa-facebook"></a><span>Facebook</span></li>
                            <li><a href="#" class="fa fa-instagram"></a><span>Instagram</span></li>
                            <li><a href="#" class="fa fa-linkedin"></a><span>Linkedin</span></li>
                            <li><a href="#" class="fa fa-youtube"></a><span>Youtube</span</li>

                        </ul>
                    </div>
                </div>


                <div class="col-lg-3 col-md-2 col-sm-6 offset-lg-1">
                    <div class="footer-widget">
                        <h6> Quick Links</h6>
                        <ul>
                            <li><a href="#">Home</a></li>
                            <li><a href="#">About us</a></li>
                            <li><a href="#">Our Team</a></li>
                            <li><a href="#">Our services</a></li>
                        </ul>
                    </div>
                </div>




                <div class="col-lg-12 col-md-6 text-center" style="background: white">
                    <div class="footer-copyright-text">
                        <p> &copy;2022 : All Right Reserved.
                            Designed and Developed By: Coder-nilesh</p>
                    </div>
                </div>




        </div>

    </footer>
