{% extends 'layout-admin.html' %}
{% load bootstrap %}
{% block title %}
<title>All Service Categories</title>
{% endblock %}
{% block main_content %}
<h1 class="text-center heading-text">Categories</h1>
<div class="container mb-5 mt-5">
    <div class="row">
        <div class="col-md-10 offset-md-1">
            {% include 'messages.html' %}
            <div class="card shadow outer-card py-2 px-2">
                <a class="btn btn-primary btn-md mb-4 ms-auto" href="/services/category_form"><i
                        class="fas fa-plus"></i> Add New Category</a>
                <div class="card  card-body">
                    <form action="" class="form myForm filter-form mb-3" method="get">
                        {{ category_filter.form | bootstrap_horizontal }}
                        <button type="submit" class="btn btn-primary btn-md mt-3 filter-search-btn"><i
                                class="fas fa-search"></i> Search
                        </button>
                    </form>
                </div>
                <div class="table-responsive">
                    <table class=" table table-striped  ">
                        <tr>
                            <th>Category</th>
                            <th>Description</th>
                            <th>Image</th>
                            <th>Date Added</th>
                            <th>Actions</th>
                        </tr>
                        {% for i in categories %}
                        <tr>
                            <td class="text-center"><a
                                    href="/services/get_category_services/{{i.id}}">{{i.category_name}}</a></td>
                            <td class="text-justify"> {{ i.description }}</td>
                            <td class="text-center"><img src="/{{i.image}}" width="100" height="100"></td>
                            <td> {{ i.added_date }}</td>
                            <td class="text-center"><a class="btn btn-primary btn-sm mb-2"
                                    href="/services/update_category/{{i.id}}"><i class="fas fa-marker"></i> Edit</a>
                                &nbsp;
                                <a class="btn btn-danger btn-sm mb-2" href="/services/delete_category/{{i.id}}"
                                    onclick="return confirm('Are you sure you want to delete this service?')"><i
                                        class="fas fa-trash-alt"></i> Delete</a>
                            </td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}