{% extends 'layout-admin.html' %} {% load bootstrap %} {% block title %}
<title>All Services</title>
{% endblock %} {% block main_content %}

<h1 class="text-center heading-text">Appointments</h1>
<div class="container mb-5 mt-5">
  <div class="row">
    <div class="col-md-10 offset-md-1">
      {% include 'messages.html' %}
      <div class="card shadow outer-card py-2 px-2">
        <div class="card card-body">
          <form action="" class="form myForm filter-form mb-3" method="get">
            {{ appointment_filter.form | bootstrap_horizontal }}
            <button type="submit" class="btn btn-primary btn-md mt-3 filter-search-btn">
              <i class="fas fa-search"></i> Search
            </button>
          </form>
        </div>
        <div class="table-responsive">
          <table class="table table-striped">
            <tr>
              <th>User</th>
              <th>Service</th>
              <th>
                Session <br />
                (min)
              </th>
              <th>Address</th>
              <th>Contact</th>
              <th>Date</th>
              <th>Cost(Rs.)</th>
              <th>Status</th>
              <!-- <th>Date Added</th> -->
              <th>Actions</th>
            </tr>
            {% for i in appointments %}
            <tr>
              <td class="text-center">{{ i.user.username }}</td>
              <td class="text-center">{{ i.service.service_name }}</td>
              <td class="text-center">{{ i.session_time }}</td>
              <td class="text-justify">{{ i.address }}</td>
              <td class="text-center">{{ i.contact_no }}</td>
              <td class="text-center">{{ i.date }}</td>
              <td class="text-center">{{ i.total_cost }}</td>
              <td class="text-center">{{ i.status }}</td>
              <!-- <td> {{ i.added_date }}</td> -->

              <td class="text-center">
                <a class="btn btn-primary btn-sm mb-2" href="/services/update_appointment_status/{{i.id}}"
                  ><i class="fas fa-marker"></i> Update</a
                >
                <a
                  class="btn btn-danger btn-sm mb-2"
                  href="/services/delete_appointment/{{i.id}}"
                  onclick="return confirm('Are you sure you want to delete this appointment?')"
                  ><i class="fas fa-trash-alt"></i> Delete
                </a>
              </td>
            </tr>
            {% endfor %}
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
